* {
    color: rgb(71, 43, 18);
}

main {
    background-color: rgb(243, 243, 243) !important;
}
.lead {
    font-weight: 600;
    color: black;
}


.top-navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}
    .navbar {
        display: block;
        padding-left: 7rem;
        padding-right: 7rem;
        background-color: rgb(194, 178, 154) !important;
        }

        .justify-content-around {
            display: flex;
        } /* the preset doesnt come with flex enabled */

        .navbar-text {
            color: rgb(56, 41, 12) !important;
            font-size: 2rem;
        }


.intro {
    padding-top: 5rem;
}
    .portland {
        background-image: url(/mocksite/pics/porland-2.jpg);
        background-size: cover;
    }


.cta {
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: 12vw;
    width: 50%;
}
    .product-pitch-and-picture {
        width: 150% !important;
        /* necessary to get pic to the right */
        display: flex;
    }
            .product-picture {
                width: 40%;
                height: 40%;
                padding-left: 7rem;
            }

.team-box {
    padding-top: 3rem;
}
    .card {
        width: 100%; 
        /* removing it makes the height off */
        padding: 2rem;
    }
        .card-pics {
            height: 20rem;
            object-fit: cover;
        }


.money-back {
    padding-left: 3rem;
    padding-right: 3rem;
}

.end-note {
    padding: 8rem 0;
}

.footer {
    background-color: rgb(194, 178, 154) !important;
    padding-top: 1rem;
    padding-bottom: .5rem
}


@media (max-width: 988px ) {

    .product-picture {
        width: 60%;
        padding: 2rem; 
        /* disabling padding makes mickey smaller? */
    }

    .card {
        width: 70%;
        margin: 3rem auto !important;
    }
}

@media (max-width: 767px) {
    .intro {
        padding-top: 4rem;
    }
    .navbar {
        display: flex;
        padding: 0rem 3rem;
    }
    .display-3 {
        font-size: 3rem;
        padding-bottom: 0;
    }
    .display-4 {
        font-size: 2rem;
    }
    .navbar-brand  {
        display: flex;
        align-items: center;
    }
    .card {
        width: 100%; 
    }
}


