* {
    color: rgb(71, 43, 18);
}

main {
    background-color: rgb(243, 243, 243) !important;
}
.lead {
    font-weight: 600;
    color: black;
}
.navbar {
    display: block;
}

textarea:focus, 
input:focus {
    outline: none !important;
}


.navbar {
    padding: 0rem;
    /* couldn't add this to child div with same effect */
}
    .MINEtop-navbar {
        position: fixed;
        z-index: 999;
        width: 100%;
        padding: 0rem 7rem;
        background-color: rgb(194, 178, 154);
    }

        .navbar-toggler {
            border-color: rgb(194, 178, 154) !important;
        }
        .navbar-text {
            color: rgb(56, 41, 12) !important;
            font-size: 2rem;
        }



.MINEintro-text {
    position: absolute;
    z-index: 2;
    padding: 6rem 4rem;
}

.MINEportland-pic {
    width: 100%;  
    opacity: 50%;
}

.MINEcta {
    margin: 6rem 12vw 6rem 3rem;
    width: 50%;
}
    .MINEproduct-pitch-and-picture {
        width: 150% !important;
        /* necessary to get pic to the right */
        display: flex;
    }
        .MINEproduct-picture {
            width: 30%;
        }



.MINEcard-pics {
    height: 20rem;
    object-fit: cover;
    padding: 1rem;
}

.MINEmoney-back {
    padding: 5rem 14rem;
}


.MINEfooter {
    background-color: rgb(194, 178, 154) !important;
    padding: 1rem 3rem 0rem 3rem;
}


@media (max-width: 988px ) {
    .display-3 {
        font-size: 3rem;
    }
    .display-4 {
        font-size: 2rem;
    }
    .card {
        width: 70%;
        margin: 3rem auto !important;
        /* card-deck or card has margin-left 15px as preset*/
    }
    .MINEintro-text {
        padding: 4rem 2rem;
    }
    .MINEportland-pic {
        height: 25rem;
        /* i know this isnt ideal */
    }
    .MINEproduct-picture {
        width: 50%;
        padding: 2rem; 
        /* disabling padding makes mickey smaller? is it because of box-sizing border-box? */
    }
    .MINEmoney-back {
        padding: 3rem;
    }
}


@media (max-width: 767px) {
    .card {
        width: 90%;
    }
    .navbar-brand  {
        display: flex;
        align-items: center;
    }
    .MINEtop-navbar {
        display: flex;
        justify-content: space-around;
        padding: 0rem 3rem;
    }
    .MINEintro-text {
        padding: 1rem 0rem;
    }
    .MINEproduct-picture {
        width: 70%;
    }
    
}


